<a href="/">home</a>
<a href="/about/">about</a>
<a href="/research/">research</a>

<html lang = "en"> 
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
    </head>

    <body>
        <h1>about</h1>
        <p> 
            I'm currently an undergraduate student at McGill University, studying cognitive science with a focus on both neuroscience and computer science. 
        </p>

        <p>
            In my free time, I enjoy baking and reading
        </p>
    </body>

</html>