---
import '../styles/global.css';
const pageTitle = "contact";
---

<nav class = "vertical_home_navs">
	<a href="/">home</a>
	<a href="/research/">research</a>
	<a href="/traditional art/">traditional art</a>
	<a href="/photography/">photography</a>
	<a href="/contact/">contact</a>
</nav>