---
import '../styles/global.css';

import { Image } from 'astro:assets';
import homeImg from '../assets/home/home.jpg';
import name from '../assets/home/name.png';

const pageTitle = "anna rose hunt-isaak";
---


<nav class = "top_navs">
	<a href="/">home</a>
	<a href="/research/">research</a>
	<a href="/traditional art/">traditional&nbsp;art</a>
	<a href="/photography/">photography</a>
	<a href="/contact/">contact</a>
</nav>


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/pub_assets/favicon.svg" /> -->
		<link rel="icon" type="image/png" href="/pub_assets/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

		<style>

			/*
			body {
				max-width: none;
			}
			*/

			/* NAVIGATION BUTTONS */
			.top_navs {
				/* placing navigation buttons where desired */
				position: absolute;
				display: flex;
				flex-direction: row; 
				flex-shrink: none;

				/*margin-left: 16.5%;*/
				top: 8%;

				/* spacing between buttons and of the lettering */
				font-size: 12px;
				gap: 5rem;  
				letter-spacing: 4.5px;   
				
				/* to prevent buttons from being underlined or changing color */
				text-decoration: none;
        	}

        	.top_navs a {
				text-decoration: none;
				color: rgb(175, 159, 148);
        	}

			.home_container {
				position: relative;
				display: flex;
				align-items: center;
				width: 100vw;

				left: 50%;
				transform: translateX(-35%);
				margin-top: 6%;
				gap: 6%;   
			}

			.home_image {
				height: 60vh;
				width:auto;
			}

			.home_text {
				line-height: 1.75;
				flex: 1;  
				max-width: 45vw;
				padding-right: 16%;
			}		
			
			.name_image {
				position: absolute;
				display: flex;
				height: 15vh;
				width: auto;

				top: 4vh;
				left: 4vh;
			}

		</style>
	</head>

	<body>
		
		<Image
		src = {name}
		alt = "name logo"
		class = 'name_image'
		/>


		<div class="home_container">

			<Image
			src = {homeImg}
			alt = "me in Portland"
			class = "home_image"
			height = {650} 
			quality={100}
			/>

			<div class = "home_text">
				<p>
					I'm Anna Rose Hunt-Isaak, an undergraduate student researcher and multimedia artist, approaching my final year at McGill University.  
					Pursuing my Bachelor of Arts and Science in Cognitive Science, I focus primarily on neuroscience and computer science.
				</p>
				<p>
					I'm interested in exploring the complex intersections of human cognition and behavior, technology, art, 
					and design.  I hope to gain greater hands-on experience with the research and development of technologies
					that foster close, reciprocal relationships with their biological users and to discover the roles that 
					human-oriented design, aesthetics, and creative expression have to play in this world.
				</p>
				<p>
					On the weekends, you can find me baking, reading, and rediscovering my love for oil painting!
				</p>
			</div>

		</div>

	</body>
</html>
