---
import '../styles/global.css';
const pageTitle = "photography";
---

<nav class = "vertical_home_navs">
	<a href="/">home</a>
	<a href="/research/">research</a>
	<a href="/traditional art/">traditional art</a>
	<a href="/photography/">photography</a>
	<a href="/contact/">contact</a>
</nav>


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1>{pageTitle}</h1>

	</body>
</html>