---
import '../styles/global.css';

import { Image } from 'astro:assets';
import first from '../assets/research/first.jpg';
import poster from '../assets/research/poster.jpg';

const pageTitle = "research";
---

<nav class = "top_navs">
	<a href="/">home</a>
	<a href="/research/">research</a>
	<a href="/traditional art/">traditional art</a>
	<a href="/photography/">photography</a>
	<a href="/contact/">contact</a>
</nav>


<html lang = "en"> 
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    </head>

    <style>

        /* NAVIGATION BUTTONS */
        .top_navs {
            /* placing navigation buttons where desired */
            position: absolute;
            display: flex;
            flex-direction: row; 
            top: 5rem; 

            /* spacing between buttons and of the lettering */
            font-size: 12px;
            gap: 5rem;  
            letter-spacing: 4.5px;   
            
            /* to prevent buttons from being underlined or changing color */
            text-decoration: none;
        }

        .top_navs a{
            text-decoration: none;
            color: rgb(175, 159, 148);
        }

        a {
            text-decoration: none;      
            color: rgb(175, 159, 148);           
        }

        .image{
            margin-right: 1.1rem;
        }


    </style>
 

    <body>

        <p>
            I've had the opportunity to explore a variety of research 
            <br>
            Download my
            <a href="/pub_assets/cv.pdf" target = "_blank">CV</a>!
        </p>

        <br><br>

        <h1>m2b3 lab</h1>
        <p>
            I'm currently completing my honors research in the mind, machines, brain, body, behavior (m2b3) Lab under the supervision of
            Dr. Krishna.  Utilizing psychophysics experiments , we are investigating the 
            <br><br>
            <a href = "https://m2b3.github.io/">m2b3 website</a>
        </p>


        <br><br>


        <h1>the crook lab</h1>
        <p>
            Worked closely with 
        </p>

        <br>

        <a href="/pub_assets/presentation.pdf" target="_blank">
            <Image
			src = {first}
			alt = "first slide of PDF"
			class = "image"
			height = {235} 
			quality={100}
		    />
        </a>

        <a href="/pub_assets/poster.jpg" target="_blank">
            <Image
			src = {poster}
			alt = "poster"
			class = "image"
			height = {235} 
			quality={100}
		    />
        </a>
        
    </body>

</html>


