---
const pageTitle = "research";
---

<a href="/">home</a>
<a href="/about/">about</a>
<a href="/research/">research</a>
<a href="/art/">art</a>

<html lang = "en"> 
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    </head>

    <body>
        <h1>{pageTitle}</h1>
        <p>
            I've gotten to explore a wide variety of research
        </p>

        <h2>the crook lab</h2>

    </body>

</html>


